<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chats</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h3>Welcome to apnachats👋</h3>
    <form method="get" action="/chats/new"  >
        <button class="btn">New post</button>
    </form>
     

        <% for (let value of chats ) { %>
       <div  class="chatbox">
           <h3>From : <%= value.from %></h3>
           <h2 class="message">Message : <%= value.msg %></h2>
           <h3>to : <%= value.to %></h3> <br> <br>
           <form action="/chats/<%= value._id %>/edit" method="get">
            <button>Edit chat</button>
           </form>
           <form  action="/chats/<%= value._id %>?_method=DELETE" method="post">
            <button>Deletechat</button>
           </form>
       </div>
       <hr>
            <% } %>
</body>
</html>
